/*
/.*

# directory
!/.config
/.config/*
!/.config/fontconfig
!/.config/gtk-3.0
/.config/gtk-3.0/*
!/.config/gtk-3.0/settings.ini

!/.conky*
!/.eixrc
!/.gitignore_global
!/.gitignore
!/.gitconfig
!/.gtkrc-2.0

# directory
!/.mlterm
/.mlterm/*
!/.mlterm/aafont
!/.mlterm/color
!/.mlterm/font
!/.mlterm/main

!/.tmux*
!/.uim

# directory
!/.uim.d
/.uim.d/*
!/.uim.d/customs
/.uim.d/customs/*
!/.uim.d/customs/custom-global-keys*
!/.uim.d/customs/custom-skk-*

# directory
!/.vim
/.vim/*
!/.vim/bundle
/.vim/bundle/*
!/.vim/bundle/neobundle_install.sh
!/.vim/conf.d
!/.vim/colors
/.vim/colors/README.txt
!/.vim/ftdetect

!/.vimrc

# directory
!/.vimperator
/.vimperator/*
!/.vimperator/plugin

!/.vimperatorrc
!/.xmobarrc
!/.xmodmaprc

# directory
!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs

!/.xsession

# directory
!/.zsh

!/.zshrc*
!/.zprofile
!/.zshenv*
!/.zlogin
!/.zlogout

# directory
!/scripts
/scripts/*
!/scripts/256colortest.vim
!/scripts/change_wall.sh*
!/scripts/local
/scripts/local/*
!/scripts/local/status.sh
