[user]
	name = Takuma Yoshioka
	email = nu11p0.6477@gmail.com
[github]
	user = l1048576
	token = a042337777e7e1dbbc4b011e3a7e7544
[url "http://yoshioka@lab.nakadai.org"]
	insteadOf = http://lab.nakadai.org
[color]
	ui = auto
[core]
	excludesfile = /home/larry/.gitignore_global
	abbrev = 12
[merge]
	ff = false
[pull]
	ff = true
[alias]
# see http://d.hatena.ne.jp/sugyan/20111103/1320247493 .
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
# see http://qiita.com/kyanny/items/10a57a4f1d2806e3a3b8 .
	delete-merged-branches = !git branch --merged | grep -vE '^\\*|master$|develop$' | xargs -I % git branch -d %
# see http://qiita.com/Yinaura/items/9d75307c3678f04cd475 .
	revision = !git show -s --format=%H
