[user]
	name = Larry
	email = nu11p0.6477@gmail.com
[github]
	user = l1048576
	token = a042337777e7e1dbbc4b011e3a7e7544
[url "http://yoshioka@lab.nakadai.org"]
	insteadOf = http://lab.nakadai.org
[color]
	ui = auto
[core]
	excludesfile = /home/larry/.gitignore_global
[alias]
# see http://d.hatena.ne.jp/sugyan/20111103/1320247493 .
	tr = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
